@using APS_HomeWork1.Models
@model List<Game>

<section style="padding: 150px 0">
    <div class="container">
        <div class="row">
            <div class="categories col-3">
                <div class="list-group" style="margin-top:10px">
                    @Html.Partial("CategoryMenu")
                </div>
            </div>
            <div class="games col-9">
                <div class="row">
                    @Html.Partial("GameMenu")
                </div>
            </div>
        </div>
    </div>
</section>
	

